@import '~bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    font-size: 0.9rem;
    padding: 0.1em 0.1em 0.1em 0.1em;
    line-height: 1;
    margin-bottom: 2.5rem;
}

/*
[data-turbo-preview] body {
    opacity: .2;
}
*/

header {
    display: grid;
    grid-template-columns: 150px auto 200px 100px;
    grid-template-areas: "logo titulo erabiltzailea idioma";
    justify-content: space-beetween;
    text-align: center;
    align-items: center;
}

main {
    width: 100vw;
}

.logo {
    height: 100px;
    width: auto;
}

.titulua {
    display: flex;
    text-align: center;
}

.avatar {
    float: right;
    height: 3rem;
    border-radius: 3rem;
}

.fixed-bottom-right {
    position: fixed;
    right: 20px;
    bottom: 50px;
}

.modal-body button {
    display: none;
}

.modal-body a.btn {
    display: none;
}

.modal-body div#archiver_fields {
    display: none;
}

a.icon:hover {
    text-decoration: none;
}

td > a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .logo {
        height: 50px;
        width: auto;
    }

    h1 {
        font-size: 1.5rem;
    }
}