{% extends 'base.html.twig' %}
{% trans_default_domain 'http-errors' %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="container alert alert-warning">
        <h1>{{ 'http.status.404.title' | trans }}</h1>
        <p>{{ 'http.status.404.description' | trans | raw }}</p>
        <a class="btn btn-primary" href="{{ path('app_home') }}">{{ 'btn.returnToMainPage' | trans }}</a>
    </div>
{% endblock %}