{% extends "@User/layout.html.twig" %}
{% trans_default_domain 'user_bundle' %}

{% block title %}List Users{% endblock %}

{% block menu %}
    {{ include('common/_menu.html.twig') }}
{% endblock %}

{% block user_content %}
    <main class="container-fluid" >
		  {{ include ('@User/user/_form.html.twig', {'readonly': readonly, 'new': new , 'password_change': password_change}) }}
    </main>
{% endblock user_content %}